<div class="mypage" ng-controller="MainCtrl">
  <ul>
    <li class="sidebar-nav hidden-phone" ng-include src="'<%= asset_path "sidebar.html" %>'" ng-init="sidebar();"></li>
    <li class="view" ng-view></li>
  </ul>
</div>