<div class="sidebar-nav" ng-hide="sidebar-loading" ng-controller="SidebarCtrl" ng-include src="'<%= asset_path "sidebar.html" %>'" ng-init="init();">Loading...</div>
<div class="document" ng-view></div>
