<div class="mypage">
  <ul>
    <li class="sidebar-nav hidden-phone" ng-hide="sidebar-loading" ng-controller="SidebarCtrl" ng-include src="'<%= asset_path "sidebar.html" %>'" ng-init="init();">Loading...</li>
    <li class="document" ng-view></li>
  </ul>
</div>