<div class="view">
  <div class="inner-view">
    <div class="hero-unit">
      <h1>三位一体の歓喜・感動</h1>
      <h2>夢実現、歓喜・感動追求会社</h2>
      <p>
        <%=  link_to "ログイン", new_user_session_path, { :class => "btn btn-primary btn-large" } %>
      </p>
    </div>

    <div class="row-fluid">
      <div class="span4">
        <h3>お客様の歓喜・感動</h3>
        <p>あなたにとって、大事なものはなんですか？<br/>
          時間やお金、趣味、家族や恋人、友達…人によって、答えは様々でしょう。 とんＱには、非常に面白い、創造的な仕事ができるフィールドがあります。<br/>
          仕事とプライベートを天秤にかけるのではなく、仕事を通して自分の大切なものを得て、 守って、夢を実現させて欲しい。私たちは、そう考えています。</p>
      </div>
      <div class="span4">
        <h3>働く仲間の歓喜・感動</h3>
        <p>
          私たちは、精一杯のこだわりのお料理と、真心をこめたおもてなしで、お客様の感動をどこまでも追求していきます。<br/>
          大切なお客様、「あなたの幸せ」のために何ができるか。<br/>
          それをひとりひとり、自分の頭で考えるのがとんQのスタッフです。<br/>
          一人一人の感性・創造性から、今までになかった、素晴らしい料理・サービスが生まれます。
        </p>
      </div>
      <div class="span4">
        <h3>歓喜・感動あふれる会社</h3>
        <p>
          働く仲間の感動とお客様の感動の実現のために会社はある、と私たちは考えます。<br/>
          仕事・プライベート、様々なことの歓喜・感動があふれる会社、それがとんQです。<br/>
          「自分の幸せ」のためにはもちろん、ともに頑張る仲間たち、お客様、 「みんなの幸せ」のために、どのように目標を持ち、行動できるか？　私たちは常にあなたに問いかけます。
        </p>
      </div>
    </div>
  </div>
</div>