<div ng-init="get();">
  <div class="view-header document">
    <form name="create_item" ng-submit="additem();">
      <ul>
        <li class="document-bar-text"><input type="text" name="body" ng-model="item.body" required></li>
        <li class="document-bar-submit"><input type="submit" ng-disabled="create_item.$invalid" class="btn btn-primary btn-inverse" value="追加する"></li>
      </ul>
    </form>
  </div>
  <div class="inner-view document">
    <a href="#/documents/list" class="icon leftarrow threequarters" title="'"></a>
    <h3>
      {{document.document.title}}
    </h3>
    <ul>
      <li ng-repeat="item in document.items" ng-include="'items_renderer.html'"></li>
    </ul>
  </div>
</div>

<script type="text/ng-template" id="items_renderer.html">
   {{item.item.content}}
       <ul ng-show="item.children.length > 0">
         <li ng-repeat="item in item.children" ng-include="'items_renderer.html'"></li>
       </ul>
</script>
