<ul class="nav nav-list">
  <li class="nav-header">
    <span>Documents</span>
    <ul class="documents">
      <li ng-repeat="doc in documents">
        <a href="#/documents/{{doc.id}}">{{doc.title}}</a>
        <div class="mini-btn"><span class="icon stop half" ng-click="delete($index);" ng-controller="DocumentCtrl" title="Remove '{{doc.title}}'"></span></div>
      </li>
   </ul>
  </li>
  <li class="nav-header">
    <span>Binders</span>
    <ul class="binders">
      <li ng-repeat="bind in binders">
        <a href="#/binders/{{bind.id}}">{{bind.name}}</a>
        <ul ng-repeat="doc in bind.documents">
          <li><a href="#/documents/{{doc.id}}">{{doc.title}}</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
